<div>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Claims</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-primary" routerLink="/create-claim">Create new claim</button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-light text-right">
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Address</th>
        <th scope="col">Amount</th>
        <th scope="col">Claimed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let claim of claims">
        <td>{{claim.id}}</td>
        <td>
          <span class="d-inline-block text-truncate" style="max-width: 150px;">
            {{claim.address}}
          </span>
        </td>
        <td>{{claim.amount}}</td>
        <td>{{claim.claimed}}</td>
      </tr>
    </tbody>
  </table>
</div>
