<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="/claims" class="nav-link">Claims</a></li>
      <li class="nav-item"><a href="/contracts" class="nav-link">Contracts</a></li>
      <li class="nav-item"><a href="/users" class="nav-link">Users</a></li>
      <li class="nav-item"><a href="/wallet" class="nav-link">Wallet</a></li>
    </ul>
  </header>
</div>
<div class="px-4 pt-5 my-5 text-center border-bottom">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

