<div>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Users</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-primary" routerLink="/create-user">Create new user</button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-light text-right">
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Claims Count</th>
        <th scope="col">Is Active?</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.claimsCount}}</td>
        <td>{{user.isActive}}</td>
        <td>
          <button type="button" class="btn btn-outline-danger" (click)="deleteUser(user.id)">
            <i class="bi bi-trash"></i>
            Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
